body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}

/* navication */
.navication{
    width: auto;
    height: 45px;
    margin: 0;
    padding: 0;
}
.navication a{
    text-decoration: none;
    color: black;
    padding: 5px;
    margin: 5px;
    font-size: 18px;
}


.right{
    float: right;
    margin-right: 10px;
}
.left{
    float: left;
}

.navication i{
    font-size: 20px;
}

/* main-section */




section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10vh;

}

.search-box{
    text-align: center;
    margin: 5vh;
}
.button{
    text-align: center;
    margin: 15px;
}
.button button{
    background: rgb(250, 247, 247);
    width: auto;
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: none;
}

.button button a{
    text-decoration: none;
    color: black;

}
.button button:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(139, 134, 134);
}

/* search-box */
.search-box{
    border-radius: 50px;
    border: 1px solid rgb(165, 164, 164);


}

input {
    border: none;
    margin: 10px 5px 10px 0px;
    font-size: 20px;
    outline: none;
    
   
}
i {
    font-size: 20px;
    margin: 0px 10px;
    color: rgb(2, 2, 3);
}

i:hover{
    color: rgb(141, 158, 149);
}

button{
    background:transparent;
    border: none;
    outline: none;
}


/* footer */


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgb(243, 242, 242);
}
.country{
    margin: 1px;
    padding: 2px;

}

.fnav{
    margin: 1px;
    padding: 2px;
}
.fnav a{
    text-decoration: none;
    color: rgb(170, 158, 158);
    padding: 5px;
    margin: 5px;
    font-size: 18px;
}
